<h1 class="mb-4 text-center">Dashboard</h1>

<div class="row text-center">
  <div class="col">
    <h3>Total Profiles</h3>
    <p>{{totalProfiles}}</p>
  </div>
  <div class="col">
    <h3>Total Workouts</h3>
    <p>{{totalWorkouts}}</p>
  </div>
  <div class="col">
    <h3>Total Calories Burned</h3>
    <p>{{caloriesBurned}}</p>
  </div>
</div>

<div class="text-center mt-4">
  <a class="btn btn-primary" href="/">Back to Home</a>
  <a class="btn btn-success ms-2" href="/workouts">View Workouts</a>
</div>
